<!--
  This template is for 'places' state (app.js)
  places is a $scope variable in PlacesCtrl (controllers.js)
  PlacesCtrl pull data from Places model
-->
<ion-view view-title="Escolha o endereço">
    <ion-content>
        <ion-list>
            <ion-item class="">
                <label class="item item-input item-stacked-label no-border">
                  <input type="text" ng-model="pc.endereco.enderecoFormatado" placeholder="Digite seu endereço..." ng-change="pc.procuraEndereco()">
                </label>
            </ion-item>

            <ion-item class="item-icon-left" ng-repeat="place in resultAdress">
                <div ng-click="pc.selectAdress(place)">
                    <div class="icon text-center has-label black-label">
                        <i class="ion-ios-location-outline icon-small"></i>
                        <span class="item-icon-label">
                       km
                    </span>
                    </div>

                    <div class="black-label">
                        <div class="bold">{{ place.address_components[0].long_name }}</div>
                        <span>{{ place.formatted_address }}</span>
                    </div>
                </div>
            </ion-item>

            <div class="item item-divider">Recent</div>

            <ion-item class="item-icon-left" ng-repeat="place in recentPlaces" ui-sref="home">
                <div class="icon text-center has-label black-label">
                    <i class="ion-ios-location-outline icon-small"></i>
                    <span class="item-icon-label">
                      {{ place.distance }} km
                    </span>
                </div>

                <div class="black-label">
                    <div class="bold">{{ place.name }}</div>
                    <span>{{ place.address }}</span>
                </div>
            </ion-item>

            <!--<div class="item item-divider">Nearby</div>

            <ion-item class="item-icon-left" ng-repeat="place in places" ui-sref="home">
                <div class="icon text-center has-label black-label">
                    <i class="ion-ios-location-outline icon-small"></i>
                    <span class="item-icon-label">
            {{ place.distance }} km
          </span>
                </div>
                <div class="black-label">
                    <div class="bold">{{ place.name }}</div>
                    <span>{{ place.address }}</span>
                </div>
            </ion-item>-->

        </ion-list>
    </ion-content>
</ion-view>